{% extends "todo_list/base.html" %}
{% block content %}
	{%for task in messages %}
		<article class="media content-section">
		  <div class="media-body">
		    <div class="article-metadata">
		      <small class="text-muted"> Created : {{ task.created }}</small>
		      <small class="text-muted"> Author : {{ task.author }}</small>
			    </div>
		    <h2><p class="article-title"}>{{ task.title }}</p></h2>
		    <p>{{ task.content }}</p>
		  </div>
		 <div>
		{% if task.author == user %}
	  	<form action="{% url 'message-delete' task.id%}" method="POST">
	  	{% csrf_token %}
	  	<button class="btn-secondary btn-outline-danger" type="submit">Delete</button>
	  	{% endif %}
		</div>

		</article>
	{% endfor %}

{% endblock content %}