{% extends "todo_list/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<article class="media content-section">
	  <div class="media-body">
	    <div class="article-metadata">
	      <a class="mr-2" href="#">{{ task.category }}</a>
	      <small class="text-muted">Created: {{ task.created }}</small>
	      <small class="text-muted">Deadline: {{ task.due_date }}</small>
	      <small class="text-muted">{{ task.responsibles.user }}</small>

	    </div>
	    <h2 class="article-title">{{ task.title }}</h2>
	    <div>
		  {% if task.status == 'Not Seen Yet' %}
		  <p class="text-secondary" href="#">{{ task.status }}</p>
		  {% elif task.status == 'Done' %}
		  <p class="text-success" href="#">{{ task.status }}</p>
		  {% elif task.status == 'Working on it' %}
		  <p class="text-warning" href="#">{{ task.status }}</p>
		  {% elif task.status == 'Stuck' %}
		  <p class="text-danger" href="#">{{ task.status }}</p>
		  {% endif %}
		</div>
	    <p class="article-content">{{ task.content }}</p>
	  </div>
	  <div>
	  	    {% if task.user == user %}
	    <a class="btn btn-secondary btn-sm mt-2 mb-3" href="{% url 'task-update' task.id %}">Update</a>
	  	<form action="{% url 'task-delete' task.id%}" method="POST">
	  	{% csrf_token %}
	  	<button class="btn-secondary btn-outline-danger" type="submit">Delete</button>
	  	</form>
	  	{% elif task.responsibles.user == user %}
	  	<a class="btn btn-secondary btn-sm mt-2 mb-3" href="{% url 'task-update-low' task.id %}">Update</a>
	  	{% endif %}
	  </div>
	</article>
	{% for comment in task.comments.all %}
	<article class= "media content-section">
	   <div class="media-body">
	   	<div class="article-metadata">
	       <p class="pull-right"><small>{{ comment.created }}</small>
	    	  <small>{{ comment.authour }}</small></p>
	        <p> {{ comment.text|linebreaks }}</p>
	       </div>
	    </div>
	</article>

	{% endfor %}
	<div>
	{% if task.responsibles.user == user or task.user == user %}
	 <h3>Add New comment:</h3>
    <form method="POST" class="comment">
    	{% csrf_token %}
        {{ comment_form | crispy }}
        <button type="submit" class="save btn btn-default">Send</button>
    </form>
    {% endif %}
   </div>

{% endblock content %}


